body { background-color: bisque; }

div { color: rgb(37, 46, 167); }
div { font-family: Verdana, Geneva, Tahoma, sans-serif;}
h1 { color: rgb(0, 0, 0); }
h1 {text-align: center;}
h2 {text-align: center;}